body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  text-align: center;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2),
    -3px -3px 6px rgba(255, 255, 255, 0.5);
}

.head {
  color: rgb(3, 3, 98);
  font-size: 3rem;
}

.bluff {
  font-size: 2rem;
}
